<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="s24_SmtpServer" value="smtp-sprzegla.nano.pl"/>
    <add key="s24_Port" value="587"/>
    <add key="s24_SenderEmailId" value="info@sprzegla24.pl"/>
    <add key="s24_SenderPassword" value="ExedY24!23"/>
    <add key="spc_SmtpServer" value="smtp-sprzegla.nano.pl"/>
    <add key="spc_Port" value="587"/>
    <add key="spc_SenderEmailId" value="info@sprzeglo.com.pl"/>
    <add key="spc_SenderPassword" value="oEz8qkPB"/>
  </appSettings>
</configuration>